<!DOCTYPE html>
<html lang="en">
  <head>
    <%- headTitle %>
    <link rel="stylesheet" href="/css/bundle.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/manifest.json">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-itunes-app" content="app-id=1196920730">
    <meta name="msvalidate.01" content="D49ADD842C985F0E35A7448780DF3974">
    <meta name="keywords" content="strength training,lifting,weight lifting,fitness,fitness tracker,strength tracker">
    <meta name="author" content="Paul Evans">
    <%- headMeta %>
  </head>
  <body role="document">
    <div class="container-fluid riker-page-content" style="padding-left: 0px; padding-right: 0px">
      <div id="app">
        <!-- extra div: http://stackoverflow.com/a/33521172/1034895 -->
        <div><%- appBody %></div>
      </div>
    </div>
    <footer class="footer">
      <hr />
      <div style="margin-bottom: 5px">
        <span style="margin-right: 10px"><a href="/">Home</a></span>
        <span style="margin-right: 10px"><a href="/faq">FAQ</a></span>
        <span style="margin-right: 10px"><a href="/tos">Terms</a></span>
        <span style="margin-right: 10px"><a href="/privacy">Privacy</a></span>
        <span style="margin-right: 10px"><a href="/security">Security</a></span>
        <span><a href="/support">Support</a></span>
      </div>
      <div>
        <em>&copy; 2017 Riker, Inc.  All rights reserved.</em>
      </div>
    </footer>
    <script src="/scripts/bundle.js"></script>
  </body>
</html>
